#root {
  margin: 0 auto;
  text-align: center;
  width:100%;
    max-width:860px;
}

ul {list-style:none;margin:0;padding:0;}
.show {display:block;}
.hide {display:none;}

.flex-center {
    display:flex;
    justify-content:center;
    align-items:center;
}

main {
    width:100%;
    height:100vh;
}